body{
	margin: 0;
	background-color: #969EA8;
}


.navbar {
    background: #ffffff;
    overflow: hidden;  
}



.nav {
	min-height: 60px;
	float: right;
	display: table;
}
.elements{
	display: table-cell;
	vertical-align: middle;
}

.blogin {
	margin: 0px 20px 0 0;
    background: #ED842A; 
    width: 180px; 
    
}
.buser {
	margin: 0px 20px 0 0;
    background: #CCCED1; 
    width: 180px;
    color: #000000 !important;
    text-shadow: 0 1px 0 #d3d3d3 !important;
    border-color: #ED842A !important;    
}


.blogin a{
	color: #000000!important;
}

.blogin:hover{
	background: #edaf7b;
}
.bclogin {
	background: #465359;
	width: 180px;  
}
.bclogin:hover{
	background: #b3b3b3;
}
.logout {
	background: #465359;
	width: 180px;  
}
.logout:hover{
	background: #b3b3b3;
}

.nav a{
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
	float: left;
	padding: 10px 10px 10px;	
	border-style: solid;
    border-width: 1px;
    border-color: #707070;
    text-align: center;
}

.navbar-inner {
  min-height: 60px;
  padding-right: 20px;
  padding-left: 20px;

}

.brand{
	float: left;
	width: 20%;
	margin: 2.5px 0 0 0; 
}
input{
	text-align: center;
	width: 100%;
	height: 30px;
	font-size: 18px;
	//padding-left: 30px;

	//margin-top: 2px;
	//margin-bottom: 10px;
	
}
.boxspende{
	text-align: left;
	width: 100%;
	height: 30px;
	font-size: 18px;
	padding-left: 10px; 
}

.radiocheck{
 	width:50px;
    float:left;
 
  
  
	 
}
.form-input::before{
	content:"\f007";
	position: absolute;
	font-family: FontAwesome;
	padding-left: 5px;
	color: #ed842a;
	padding-top: 3px;
	font-size: 30px;
}

.form-input2::before{
	content:"\f023";
	position: absolute;
	font-family: FontAwesome;
	padding-left: 5px;
	color: #ed842a;
	padding-top: 3px;
	font-size: 30px;
}

.login{
	margin: auto;
	margin-top: 50px;
	width: 400px;
    border: 1px solid #ED842A;
    padding: 10px;
    background: #ffffff;
    text-align: center;
    border-radius: 15px;

}


.mid2{
	width: 90%;
	display: table;
	margin: auto;
	//background-color: green;
}
.mid{
	position: absolute;
	//background-color: black;
	margin: auto;
	width: 100%;
}	


div.polaroid{
	float: left;
	width: 25%;
}

.spendan{
	margin: 20px;
	padding: 0;
	width: 80%;
	height: 420px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
  text-align: left;
  padding: 5% 10% 10% 10%;
  width: 80%;
  position: relative;
}

.interesseb{
	margin: auto;
	position: absolute;
	bottom: 0px;
	//margin-top: auto;
	height: 10%;
}

.don{
	margin: auto;
	margin-top: 50px;
	width: 90%;
    border: 1px solid #ED842A;
    padding: 10px;
    background: #ffffff;
    text-align: left;
    border-radius: 15px;

}


.donImg{
	width: 20%;
	border: 1px solid;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 15px;
}


.createDon{
	margin: auto;
	margin-top: 50px;
	width: 60%;
    border: 1px solid #ED842A;
    //padding: 10px;
    background: #ffffff;
    text-align: left;
    border-radius: 15px;

}

form{
	margin: auto;
	padding: 0% 5% 10% 5%;
	//width: 100%;
}

.formnames{
	text-align: left;
	padding: 0 !important;
	margin: 0 !important;
	opacity: 0.8;
}

.btn-login{
	color: #fff;
	border-radius: 150px;
	background-color: #ed842a;
	//border-style: solid;
    //border-width: 1px;
    //border-color: #707070;
    border: none;
    border-bottom: 4px solid  #E48028;
	width: 50%;
	text-align: center;
	opacity: 0.95;
}

.btn-send{
	color: #fff;
	border-radius: 50px;
	background-color: #ed842a;
    border: 12px;
    border-bottom: 4px solid  #E48028;
	width: 30%;
	text-align: center;
	opacity: 0.95;
	margin: auto;
}
.btnzu-send{
	color: #fff;
	border-radius: 50px;
	background-color: #ed842a;
    border: 12px;
    border-bottom: 4px solid  #E48028;
	width: 20%;
	text-align: center;
	opacity: 0.95;
	margin: auto;
}


h1{
	margint: auto;
	font-family: sans-serif ;
	color: black;
}
.h1dash{
	margin-left: 30px;
	font-family: sans-serif ;
	color: white;
	text-shadow: 2px 2px #4B4B4B;	
}

.h2dash{
	margin-left: 30px;
	font-family: sans-serif ;
	color: white;
	text-shadow: 2px 2px #4B4B4B;
}


h3{
	margin-left: 30px;
	font-family: sans-serif ;
	color: white;
	text-shadow: 2px 2px #4B4B4B;
}

h4{
	font-family: sans-serif ;
}

h4{
	font-family: sans-serif ;
}
h5{
	margin-left: 30px;
	font-family: sans-serif ;
	color: white;
	text-shadow: 2px 2px #4B4B4B;
}




ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
   	background-color: #f3f3f3;
  	border: 1px solid #e7e7e7;
    //position: fixed;
    top: 0;
    width: 100%;
    
}

li {
    float: left;
    border: none;
    border-right: 1px solid #D6D6D6;
    width: 12.439%;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    //padding: 14px 88px;
    padding: 5% ;
    text-decoration: none;
}


li a:hover {
    background-color: #E6E6E6;
}

li:last-child {
    border: none;
}

table {
	margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
	
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
	
    background-color: #ED842A;
    color: white;
}
