body{
	margin: 0;
	background-color: #969EA8;
}

.navbar {
    background: #ffffff;
    overflow: hidden;  
}

.nav {
	min-height: 60px;
	float: right;
	display: table;
}
.elements{
	display: table-cell;
	vertical-align: middle;
}

.blogin {
	margin: 0px 20px 0 0;
    background: #ED842A; 
    width: 180px; 
    
}


.blogin a{
	color: #000000!important;
}

.blogin:hover{
	background: #edaf7b;
}
.bclogin {
	background: #465359;
	width: 180px;  
}
.bclogin:hover{
	background: #b3b3b3;
}

.nav a{
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
	float: left;
	padding: 10px 10px 10px;	
	border-style: solid;
    border-width: 1px;
    border-color: #707070;
    text-align: center;
}

.navbar-inner {
  min-height: 60px;
  padding-right: 20px;
  padding-left: 20px;

}

.brand{
	float: left;
	width: 20%;
	margin: 2.5px 0 0 0; 
}
input{
	//text-align: center;
	width: 100%;
	height: 30px;
	font-size: 18px;
	padding-left: 30px;
	//margin-top: 2px;
	//margin-bottom: 10px;
	
}
.form-input::before{
	content:"\f007";
	position: absolute;
	font-family: FontAwesome;
	padding-left: 5px;
	color: #ed842a;
	padding-top: 3px;
	font-size: 30px;
}

.form-input2::before{
	content:"\f023";
	position: absolute;
	font-family: FontAwesome;
	padding-left: 5px;
	color: #ed842a;
	padding-top: 3px;
	font-size: 30px;
}

.login{
	margin: auto;
	margin-top: 50px;
	width: 400px;
    border: 1px solid #ED842A;
    padding: 10px;
    background: #ffffff;
    text-align: center;
    border-radius: 15px;

}

form{
	margin: auto;
	padding: 0% 20% 10% 20%;
	//width: 100%;
}

.formnames{
	text-align: left;
	padding: 0 !important;
	margin: 0 !important;
	opacity: 0.8;
}

.btn-login{
<<<<<<< HEAD
	padding: 20px 30px;
=======
	//padding: 20px 30 px;
>>>>>>> branch 'master' of https://github.com/domi-95/InDon.git
	color: 969ea8;
	border-radius: 150px;
	background-color: #FFFFFF;
<<<<<<< HEAD
	border-style: solid;
    border-width: 1px;
    border-color: #707070;
    
=======
	width: 50%;
	text-align: center;
>>>>>>> branch 'master' of https://github.com/domi-95/InDon.git
	
	
}

h1{
	font-family: sans-serif ;
}
<<<<<<< HEAD

h3{
	font-family: sans-serif ;
}
=======
>>>>>>> branch 'master' of https://github.com/domi-95/InDon.git
